<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
   </script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
   </script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
   </script>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <title>Document</title>
</head>

<body>
   <div class="container">
      <div class="card">
         <div class='card-header text-center'>
            <h4>teste</h4>
         </div>
         <div class="card-body">
               <form action="http://localhost:5000/result" method="POST">
                  
                  <input class="form-control form-control-lg mt-2 mb-2" type="number" name='total_numbers' placeholder="Digite o numero de posições">
                  <input class="form-control form-control-lg mt-2 mb-2" type="number" name='valor_a_ser_encontrado' placeholder="Digite o valor que deve ser buscado">
                  <select class="form-control form-control-lg mt-2 mb-2" name="type_search">
                        <option>Busca Sequencial Simples</option>
                        <option>Busca Sequencial Com Sentinela</option>
                        <option>Busca Binária</option>
                      </select>
                      <button type="submit" class="btn btn-primary btn-block">Primary</button>
                     
                  </div>
               </form>
         </div>
      </div>
   </div>

   
</body>

</html>